<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UniversityOrganization -->
      <package
            uri="http://it.gssi/university_organization/v1"
            class="UniversityOrganization.UniversityOrganizationPackage"
            genModel="src/main/resources/model/UniversityOrganization.genmodel"/>
   </extension>

</plugin>
